:root{
    --white-font-color:rgb(237, 237, 237);
    --horizontal-rule-color:rgb(207, 207, 207);
    --bg-blue-top:rgb(0, 6, 129);
    --bg-blue-bottom:rgb(3, 11, 53);
}
.update-form{
    margin:auto;
    margin-top: 4.5%;
    max-height: 500px;
    max-width: 55%;
    justify-content: center;
    background-color: var(--white-font-color);
    border-radius: 15px;
}
.form-heading{
    color: white;
    background-color: var(--bg-blue-bottom);
    padding: 3%;
    text-align: center;
    border-top-left-radius:15px ;
    border-top-right-radius:15px ;
}
.form-item{
    display: block;
    padding: 1%;
    margin-left: 15%;
    font-size: 23px;
}
.form-item input{
    height: 25px;
    width: 150px;
    margin-bottom: 5px;
}
.form-item button{
    margin-left: 35%;
}
.update-button:hover{
    background-color: var(--bg-blue-bottom);
    color: white;
}
.update-button{
    background-color: #ffffff;
    color: black;
    padding: 2% 4%;
    margin-right: 3%;
    margin-bottom: 4%;
    border-radius: 8px;
    font-size: smaller;
}